<h3>Filter</h3>
<div id="sorting">
  <h4>Sort Movies</h4>
  <hr>
  <ul>
    <li> <a href="#" class="" id="by_title">By Title</a></li>
    <li><a href="#" class="" id="by_showtime">By Showtime</a></li>
    <li><a href="#" class="" id="by_rating">By Rating</a></li>
  </ul>
</div>

<div class="" id="ratings">
</div>

<div class="" id="genres">
</div>
