  <h4>Genre</h4>
  <hr>
   <ul class="filter-genres">
     <li>
       <label for='genre-all'>
          All Categories
       </label>
       <input type="checkbox" name="genre-all" />
     </li>
    </ul>
  <br/>
