<h4>Genre</h4>
<hr>
 <ul class="filter-genres">
    <li><input type="checkbox">All categories</input></li>
    <% _.each(genres, function(genre) { %>
      <li><a href="#" class="<%= helpers.selected() %>" data-value='<%= genre.id %>'>
      <%= genre.name %>
      </a>
      </li>
    <% }) %>
  </ul>
