  <div class="overlay"></div>
  <div class="content">
     <h1>Register</h1>
     <form id="register-user">
     <fieldset>
     <legend>Your Login</legend>
     <label>
     Username:
     <input type="text" name="username" /> </label>
     </fieldset>

     <fieldset>
     <legend>Email Address</legend>
     <label>
     Email:
     <input type="text" name="email" /> </label>
     <br />
     </fieldset>
     <fieldset>
     <legend>Password</legend>
     <label>
     Password:
     <input type="password" name="password" /> </label>
     </fieldset>
     <p>
     <input type="submit" value="Register Now"/>
     </p> 
     </form>.
  </div>

